{% set pageTitle = 'Procedural Animation - Animated Texture' %}
{% set tocTitle = 'Animated Texture' %}

{% extends "theme/template/base.html" %}



{% block content %}

== Procedural Animation - Animated Texture

::[color:gray;]
__Path of the scene: [01_procedural/c_texture]__
::
::[height:25px;]::

[link::web/index.html[Interactive view]]

{% endblock %}