{% set pageTitle = 'Procedural Animation - Water Droplet' %}
{% set tocTitle = 'Water Droplet' %}

{% extends "theme/template/base.html" %}



{% block content %}

== Procedural Animation - Water Droplet

::[color:gray;]
__Path of the scene: [01_procedural/d_water_droplet]__
::
::[height:25px;]::

[link::web/index.html[Interactive view]]

{% endblock %}