{% set pageTitle = 'Procedural Animation - Water Droplet' %}
{% set tocTitle = 'Water Droplet' %}

{% extends "theme/template/base.html" %}



{% block content %}

= Procedural Animation - Water Droplet

::[color:gray;]
__Path of the scene: [01_procedural/d_water_droplet]__
::
::[height:25px;]::


This code display a scene with a procedurally animated regular grid that models water surface.
* - The animation of the surface is computed directly in the vertex shader `shaders/water/water.vert.glsl`




[link::web/index.html[Interactive view]]

{% endblock %}